  <div class="footer">
    <div class='container'>
      <div class ="sub-block">
        <div class = 'title'> SIGN  UP  TO  SUBSCRIBE  OUR  COOKBOOK</h2>
       <form class ="maillist"action= "" method="post" target="_blank">
      <div class="field">
        <input aria-label="Enter your e-mail address" placeholder="Enter E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter E-mail'" type="email" id="email" name="EMAIL" required="true">
      </div>
      <button type="submit" class="submit" aria-label="Mailing list sign-up submit button">
        <span class="send-text">SUBMIT</span>
      </button>
    </form>
      </div>
    </div>
    <div class="footer-inner">
    <div class="footer-links">
      <a href="" target="_blank">Newsletter</a>
      <a href="" target="_blank">Careers</a>
      <a href="" target="_blank">Gifts</a>
    </div>
    <div class='social-icon'>
      <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>

