<div class="container">
  <div class="frame-btn">
  <button class="btn-reservations active" id="homecook-btn">Homecook</button>
  <button class="btn-reservations" id="customer-btn">Customer</button>
 </div>

  <div class="reservations-tabs">
    <div class="homecook-tab">
      <p>You have no reservations yet...</p>
    </div>


    <div class="customer-tab">

    </div>
  </div>
</div>
