
<% if user_signed_in? %>
  <div class="btn-update-homecook">
   <a class="btn btn-homecook" data-toggle="modal" data-target="#exampleModal" style="text-align: center">Reserve this homecook</a>
  </div>
  <%= render "reserve_homecook" %>
<%else %>
  <div class="btn-update-homecook">
    <%= link_to "Sign up/Sign in before make a reservation", new_user_session_path, class:"btn btn-homecook",  style:"text-align: center"%>
  </div>
  <h2>


<% end %>
