.btn-homecook {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #F7B500;
  transition: background 0.3s ease;
}

.btn-homecook:hover {
  background: #ffc65a;
  color: white;
}

.btn_seemore{
  text-align: center;
  margin:50px auto;
}


.btn-homecook-small{
  padding: 8px;
  color: white;
  border-radius: 4px;
  background: #F7B500;
  transition: background 0.3s ease;
}

.btn-homecook-small:hover {
  background: #ffc65a;
  color: white;
}

.add-time {
  padding:8px;
}
