.btn-homecook {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-homecook:hover {
  background: #1BCB7F;
  color: white;
}

.btn_seemore{
  text-align: center;
}
