html {
  position: relative;
  top: -16px;
  margin-bottom:-20px;
}


.fa-star:before {
  font-size:13px;
  color: #F7B500;
}

.fa-chevron-right {
  font-size:13px;
  margin-left:10px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram{
  color:white;
  font-size:18px;
}

.big-star:before {
  font-size:22px;
  position:relative;
  bottom:2px;
}

.small-star:before {
  font-size:13px
}

.fa-envelope:before {
  position: relative;
  top: 1px;
  color: #ffc65a;
}

.fa-phone:before {
  color: #ffc65a;
}

.fa-map-pin:before {
  color: #ffc65a;
}

.fa-user:before {
  font-size: 13px;
  color: #ffc65a;
}

.fa-trash-alt:before {
    color: #495057;
}

h1 {
  font-family: 'Rowdies', cursive;
}

.title{
  font-size:32px;
  margin: 30px auto;
  text-align:center;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1)

}

.title h2 {
  display:inline-block;
  font-family: 'Rowdies', cursive;
  color: #424242;
  padding: 0 20px;
  background:linear-gradient(transparent 55%, #ffc65ac7 45%);
  border-bottom:3px solid #FA6400;
}

*:focus {
    outline: none;
}

.title-large-black {
  color: #0E0000;
  font-weight: 600;
}

.header {
  width:80%;
  display:flex;
  justify-content:space-between;
  margin:48px auto 0;
}


.style_image  {
  display: flex;
  margin:10px;
  border-radius:3%;
}

.image-block {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  max-width: 80%;
  margin: 0 auto;
}


.title-middle {
  font-size:24px;
  width:80%;
  margin: 0 auto;
}


.title-middle-bold {
  font-weight:600;
  font-size:30px;
  width:80%;
  margin: 50px auto 0;
  position: relative;
  right: 16px;
  margin-bottom:16px;
}

.title-middle-bold:before{
  content:"";
  display:inline-block;
  width:1em;
  height:1em;
  background:url('spoon_yellow.png') no-repeat;
  background-size:contain;
  position:relative;
  right:-20px;
}

.hidden{
  display: none;
}

.medium-font {
  font-size:18px;
  color: black;
}

.text-medium {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  border-bottom: 1.5px solid #f7b500;
}

.form-field:not(:last-child) {
  margin-bottom:20px;
}

.text-small-bold {
  font-weight:500;
}

.image-block {
  background-image:url('background-image.png');
  background-repeat: no-repeat;
  background-size:cover;
  border-radius:3%;
}

.filter-block {
  margin-bottom:20px;
}

#filter-cuisine{
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px 3px;
}

#sort-price {
border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 2px 3px;
  color:#333
}

.fa-random:before {
  color: #f7b500;
}

.fa-filter:before {
  color: #ffc65a;
}


.small-text{
  margin-left:70px;
  position: relative;
  top: 5px;
}

.small-text a {
  color:#343a40;
}


.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label  {
  color:#343a40;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border-color: #cccccc;
}

.modal-title {
  font-weight:600;
}
