html {
  position: relative;
  top: -16px;
  margin-bottom:-20px;
}


.fa-star:before {
  font-size:13px;
  color: #F7B500;
}

.fa-chevron-right {
  font-size:13px;
  margin-left:10px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram{
  color:white;
  font-size:18px;
}

.big-star:before {
  font-size:22px;
  position:relative;
  bottom:2px;
}

h1 {
  font-family: 'Rowdies', cursive;
}

.title{
  font-size:32px;
  margin: 30px auto;
  text-align:center;
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1)

}

.title h2 {
  display:inline-block;
  font-family: 'Rowdies', cursive;
  color: #424242;
  padding: 0 20px;
  background:linear-gradient(transparent 55%, rgba(247, 181, 0, 0.8) 45%);
  border-bottom:3px solid #FA6400;
}

*:focus {
    outline: none;
}

.title-left-black {
  margin: 30px auto 10px;
  text-align: left;
  color: #0E0000;
  font-weight: 600;
  width:80%;
}


.style_image  {
  display: flex;
  margin:10px;

}

.image-block {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  max-width: 80%;
  margin: 0 auto;
}


.title-middle {
  font-size:30px;
  width:80%;
  margin: 0 auto;
}


.title-middle-bold {
  font-weight:600;
  font-size:30px;
  width:80%;
  margin: 0 auto;
}


.hidden{
  display: none;
}

