.reservations-tabs{
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 100%;
  border-radius: 5px;
  z-index: 1;
}

.hidden{
  display: none;
}


